<!DOCTYPE html>

@{
    ViewData["Title"] = "ShowUsersSimple";
    Layout = null;
}

<link href="~/lib/datatables_net/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="~/lib/jquery/jquery.js"></script>

<script src="~/lib/datatables_net/js/jquery.dataTables.min.js"></script>


@*<h2>Пользователи</h2>*@
<h2 style="text-align: center;">Пользователи</h2>

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="myTableUsers" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Идентификатор</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Телефон</th>
                    <th>Администратор</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div align="center">
    <a asp-controller="Login" asp-action="Login">Выход</a>
</div>


<script>

    $(function() {
        $('#myTableUsers').DataTable({
            "ajax": {
                "url": "/Helper/GetNoAdmins",
                "type": "GET",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0, 1, 2, 7],
                    "visible": false,
                    "searchable": false,
                    "width": "0%"
                },
                {
                    "targets": [3, 4, 5, 6],
                    "visible": true,
                    "searchable": true,
                    "width": "25%"
                }
                ],
            "columns": [
                { "data": "Id" },
                { "data": "Login" },
                { "data": "Password" },
                { "data": "LastName" },
                { "data": "FirstName" },
                { "data": "MiddleName" },
                { "data": "Telephone" },
                { "data": "IsAdmin" }
            ]
        });
    });

</script>